<template>
  <div @click="$emit('fetchData', id)" class="cursor-pointer border-t border-b px-3 md:px-5 py-4 flex items-center">
    <div class="w-1/2 md:w-2/5 text-grey-darkest font-semibold text-left text-sm flex items-center">
      <img :src="icon" :alt="name" class="w-6">
      <span class="ml-3">{{ name }}</span>
    </div>
    <span class="md:w-1/4 text-grey-darkest font-semibold text-left text-sm hidden md:block">$ {{ convertNum }}</span>
    <span class="w-1/4 md:w-1/4 text-grey-darkest font-semibold text-left text-sm">$ {{ roundNum }}</span>
    <div class="w-1/4 md:w-1/6 text-grey-darkest font-semibold text-left text-sm justify-center flex md:justify-start relative">
      <div class="inline-flex items-center absolute pin-c-x pin-mt-1">
        <span :class="color">{{ change }}%</span>
        <span class="text-red-light" v-if="checkChange"> ↓</span>
        <span class="text-green" v-else> ↑</span>
      </div>
      <trend class="w-full h-9 -mb-5"
        :data="numHistory"
        :width="80"
        :height="30"
        :gradient="[colorChart]"
        auto-draw
      />
    </div>
  </div>
</template>

<script>
import Trend from '@/plugins/vue-trend'

export default {
  props: ["icon", "price", "marketCap", "history", "name", "change", "id"],
  components: {
  },
  data() {
    return {
      numHistory: this.history.map(Number)
    }
  },
  computed: {
    roundNum: function() {
      return Number.parseFloat(this.price).toFixed(2);
    },
    convertNum: function() {
      let x = this.marketCap
      return (x === null) ? 0
        : (x >= 1.0e9) ? (x / 1.0e9).toFixed(2) + ' billion'
        : (x >=1.0e6 ) ? (x / 1.0e6).toFixed(2) + ' million'
        : (x >=1.0e3 ) ? (x / 1.0e3).toFixed(2) + ' thousand'
        :  x.toFixed(2)
    },
    color: function() {
      return this.change >= 0 ? 'text-green text-xs flex-no-shrink' : 'text-red-light text-xs flex-no-shrink'
    },
    colorChart: function() {
      return this.change >= 0 ? '#38c172' : '#ef5753'
    },
    checkChange: function() {
      return this.change >= 0 ? false : true
    }
  }
}
</script>