<template>
  <transition name="scale">
    <div @click="$emit('hideModal')" class="fixed pin bg-overlay z-20 flex">
      <div @click="child" class="md:shadow bg-white px-5 py-8 m-auto md:rounded relative flex flex-col h-full w-full md:h-4/5 md:w-4/5">
        <h2 class="text-center text-blue-darkest">{{ name }}</h2>
        <button @click="$emit('hideModal')" class="absolute pin-t text-4xl">×</button>
        <div class="overflow-scroll flex-1 my-4">
          <div class="py-3 bg-grey-lighter pl-6 border-b border-t flex min-w-40">
            <p class="w-1/4 text-blue-darker font-semibold uppercase text-left text-sm">Souce</p>
            <p class="w-1/4 text-blue-darker font-semibold uppercase text-left text-sm">Pair</p>
            <p class="w-1/4 text-blue-darker font-semibold uppercase text-left text-sm">24h volume</p>
            <p class="w-1/4 text-blue-darker font-semibold uppercase text-left text-sm">Price</p>
          </div>
          <svg version="1.1" :class="[ isLoading ? 'block' : 'hidden', 'w-32 h-32 fixed pin-c']" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
            <circle fill="#3D4852" stroke="none" cx="6" cy="50" r="6">
              <animate
                attributeName="opacity"
                dur="1s"
                values="0;1;0"
                repeatCount="indefinite"
                begin="0.1"/>    
            </circle>
            <circle fill="#3D4852" stroke="none" cx="26" cy="50" r="6">
              <animate
                attributeName="opacity"
                dur="1s"
                values="0;1;0"
                repeatCount="indefinite" 
                begin="0.2"/>       
            </circle>
            <circle fill="#3D4852" stroke="none" cx="46" cy="50" r="6">
              <animate
                attributeName="opacity"
                dur="1s"
                values="0;1;0"
                repeatCount="indefinite" 
                begin="0.3"/>     
            </circle>
          </svg>
          <div v-for="market in result" :key="market.id" class="border-b-2 flex items-center px-3 py-4 min-w-40">
            <span class="flex-no-shrink mr-2 text-grey-darker font-semibold text-sm">{{ market.rank }}</span>
            <div class="w-1/4 text-grey-darkest font-semibold text-left text-sm flex items-center flex-no-shrink">
              <img v-if="market.sourceIconUrl" :src="market.sourceIconUrl" :alt="market.sourceName" class="w-6">
              <span class="ml-3">{{ market.sourceName }}</span>
            </div>
            <span class="w-1/4 text-grey-darkest font-semibold text-sm">{{ market.baseSymbol }}/{{ market.quoteSymbol }}</span>
            <span class="w-1/4 text-grey-darkest font-semibold text-sm">$ {{ convertNum(market.volume) }}</span>
            <span class="w-1/4 text-grey-darkest font-semibold text-sm">$ {{ roundNum(market.price) }}</span>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import axios from "axios"

export default {
  props: ["id"],
  data() {
    return {
      result: {},
      name: '',
      isLoading: false
    }
  },
  mounted() {
    this.getMarket(this.id)
  },
  methods: {
    child() {
      event.stopPropagation()
    },
    async getMarket(id) {
      try{
        this.isLoading = true
        const res = await axios.get('https://api.coinranking.com/v1/public/markets?currencyId=' + id)
        this.name = res.data.data.currencies[0].name
        this.result = res.data.data.markets
        this.isLoading = false
      }
      catch(err) {
        console.log(err)
      }
    },
    convertNum: function(x) {
      return (x === null) ? 0
        : (x >= 1.0e9) ? (x / 1.0e9).toFixed(2) + ' billion'
        : (x >=1.0e6 ) ? (x / 1.0e6).toFixed(2) + ' million'
        :  x.toFixed(2)
    },
    roundNum: function(x) {
      return Number.parseFloat(x).toFixed(2);
    }
  }
}
</script>

<style>
.scale-enter-active, .scale-leave-active{
  transition: all .4s ease
}

.scale-enter, .scale-leave-to {
  opacity: 0;
  transform: scale(1.3)
}

</style>
