<template>
  <div class="main-page bg-grey-lighter flex flex-col">
    <TheHeader />
    <nuxt />
    <TheFooter />
  </div>
</template>

<script>
import TheHeader from '@/components/Header'
import TheFooter from '@/components/Footer'

export default {
  components: {
    TheHeader,
    TheFooter
  }
}
</script>

<style lang="scss" scoped>
  .main-page {
    min-height: 100vh;
  }
</style>

