<template>
  <section class="flex-1 p-2 pt-6">
    <modal :id="coinId" v-if="isVisible" @hideModal="closeModal"/>
    <div class="shadow-md max-w-lg m-auto bg-white rounded relative">
      <div class="sticky pin-t bg-white z-10">
        <button @click="toggleFilter" class="shadow border m-3 px-3 py-1 font-semibold text-grey-darker rounded relative">
          <svg class="w-3 h-3 fill-current" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 402.577 402.577" style="enable-background:new 0 0 402.577 402.577;"
            xml:space="preserve">
            <path d="M400.858,11.427c-3.241-7.421-8.85-11.132-16.854-11.136H18.564c-7.993,0-13.61,3.715-16.846,11.136
              c-3.234,7.801-1.903,14.467,3.999,19.985l140.757,140.753v138.755c0,4.955,1.809,9.232,5.424,12.854l73.085,73.083
              c3.429,3.614,7.71,5.428,12.851,5.428c2.282,0,4.66-0.479,7.135-1.43c7.426-3.238,11.14-8.851,11.14-16.845V172.166L396.861,31.413
              C402.765,25.895,404.093,19.231,400.858,11.427z"/>
          </svg>
          <span>Filter</span>
        </button>
        <div :class="[ isActive ? 'flex' : 'hidden' , 'shadow-md absolute bg-white w-full p-4 flex-col text-sm']">
          <div class="mb-4 inline-flex">
            <nuxt-link :to="{ name: 'index', query: { sort: 'price' }}" class="text-grey-darker font-semibold border border-r-0 px-3 py-1 rounded-l no-underline">Price ↑</nuxt-link>
            <nuxt-link :to="{ name: 'index', query: { order: 'asc', sort: 'price' }}" class="text-grey-darker font-semibold border px-3 py-1 rounded-r no-underline">Price ↓</nuxt-link>
          </div>
          <div class="mb-4 inline-flex">
            <nuxt-link :to="{ name: 'index', query: { sort: 'marketCap' }}" class="text-grey-darker font-semibold border border-r-0 px-3 py-1 rounded-l no-underline">Market cap ↑</nuxt-link>
            <nuxt-link :to="{ name: 'index', query: { order: 'asc', sort: 'marketCap' }}" class="text-grey-darker font-semibold border px-3 py-1 rounded-r no-underline">Market Cap ↓</nuxt-link>
          </div>
          <div class="mb-4 inline-flex">
            <nuxt-link :to="{ name: 'index', query: { sort: 'change' }}" class="text-grey-darker font-semibold border border-r-0 px-3 py-1 rounded-l no-underline">Change ↑</nuxt-link>
            <nuxt-link :to="{ name: 'index', query: { order: 'asc', sort: 'change' }}" class="text-grey-darker font-semibold border px-3 py-1 rounded-r no-underline">Change ↓</nuxt-link>
          </div>
        </div>
      </div>
      <div>
        <div class="py-3 px-4 bg-grey-lighter border-t-2 flex">
          <p class="w-1/2 md:w-2/5 text-blue-darker font-semibold uppercase text-left text-sm">Coins</p>
          <p class="md:w-1/4 text-blue-darker font-semibold uppercase text-left hidden md:block text-sm">Market Cap</p>
          <p class="w-1/4 md:w-1/4 text-blue-darker font-semibold uppercase text-left text-sm">Price</p>
          <p class="w-1/4 md:w-1/6 text-blue-darker font-semibold uppercase text-left text-sm">24h Change</p>
        </div>
        <coin v-for="currency in currencies"
          @fetchData="showModal($event)"
          :key="currency.id"
          :icon="currency.iconUrl"
          :price="currency.price"
          :marketCap="currency.marketCap"
          :history="currency.history"
          :name="currency.name"
          :change ="currency.change"
          :id="currency.id"
        /> 
      </div>
    </div>
  </section>
  
</template>

<script>
import Coin from '@/components/Coin'
import Modal from '@/components/Modal'
import axios from "axios"

export default {
  components: {
    Coin,
    Modal
  },
  data() {
    return {
      currencies: {},
      isActive: false,
      isVisible: false,
      coinId: '',
    }
  },
  mounted() {
    this.getCurrency(this.$route.fullPath.replace('/','')) 
  },
  watch: {
    '$route'(){
      if(this.isActive) {
        this.isActive = !this.isActive
      }
      this.getCurrency(this.$route.fullPath.replace('/','')) 
    }
  },
  methods: {
    async getCurrency(query = '') {
      try{
        const res = await axios.get('https://api.coinranking.com/v1/public/coins' + query)
        this.currencies = res.data.data.coins
        console.log('Aditional data: ' + res.data)
      }
      catch(err) {
        console.log(err)
      }
    },
    toggleFilter() {
      this.isActive = !this.isActive
    },
    showModal(id) {
      this.isVisible = true
      document.body.className = 'active'
      this.coinId = id
    },
    closeModal() {
      this.isVisible = false
      document.body.className = ''
    }
  }
}
</script>

<style>
.active {
  overflow: hidden;
}
</style>

